body{
font-family: 'Baloo Bhai 2', cursive;
background-color:#E8F9FD;
}
hr{
border:dotted grey 6px;
color:grey; 
width:10%;
border-bottom:none;
margin:100px auto;
}

.book{
float:left;
margin-left:2%;
height:30%;
}
.cont{
clear:left;
margin:100px auto auto auto;
text-align:center;
}
.grab{
font-weight:normal;
}
.head{
margin-top:50%;